version: '3.8'
services:
  jenkins:
    image: jenkins/jenkins:lts
    privileged: true 
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ~/jenkins_compose_data/jenkins_configuration:/var/jenkins_home
      - ~/jenkins_compose_data/docker.sock:/var/run/docker.sock
      - ./jenkins.yaml:/var/jenkins_home/casc_configs/jenkins.yaml
    container_name: jenkins
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs/jenkins.yaml
      - EMAIL_PASS=yeoz-ksry-khyk-abcd
